.tsc_clear { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}

#tsort-tablewrapper {width:100%;  }
#tsort-tableheader {height:55px }
.tsort-search {float:left; padding:6px; border:1px solid #c6d5e1; background:#fff}
#tsort-tableheader select {float:left; font-size:12px; width:125px; padding:2px 4px 4px}
#tsort-tableheader input {float:left; font-size:12px; width:225px; padding:2px 4px 4px; margin-left:4px}
.tsort-details {float:right; padding-top:12px}
.tsort-details div {float:left; margin-left:15px; font-size:12px}
.tinytable {width:100%; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; font-size:12px;  }
.tinytable th {background:url(../css/images/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.tinytable th h3 {font-size:10px; padding:6px 8px 8px}
.tinytable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.tinytable .head h3 {background:url(../css/images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .desc, .sortable .asc {background:url(../css/images/header-selected-bg.gif)}
.tinytable .desc h3 {background:url(../css/images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .asc h3 {background:url(../css/images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {color:#fff}
.tinytable .tsort-evenrow td {background:#fff}
.tinytable .tsort-oddrow td {background:#ecf2f6}
.tinytable td.tsort-evenselected {background:#ecf2f6}
.tinytable td.tsort-oddselected {background:#dce6ee}
.tinytable tfoot {background:#fff; font-weight:bold}
.tinytable tfoot td {padding:6px 8px 8px}
#tsort-tablefooter {height:15px; margin-top:20px}
#tsort-tablenav {float:left}
#tsort-tablenav img {cursor:pointer}
#tsort-tablenav div {float:left; margin-right:15px}
#tsort-tablelocation {float:right; font-size:12px}
#tsort-tablelocation select {margin-right:3px}
#tsort-tablelocation div {float:left; margin-left:15px}
.tsort-page {margin-top:2px; font-style:italic}
#tsort-selectedrow td {background:#c6d5e1}








.tsc_fixed_tables {
  border: solid 1px #D5D5D5;
  border-collapse: collapse;
	width:100%; 
	
}

.tsc_fixed_tables td {
	border:1px solid #D5D5D5;
	font-size:12px;
	padding:7px 5px;
}

.tsc_fixed_tables th {
	border-right:1px solid #D5D5D5;
	font-size:13.5px;
	line-height:120%;
	font-weight:bold;
	padding:8px 5px;
	text-align:left;
	
		background: #eee;
	background: -moz-linear-gradient(top, #eee 0%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #eee 0%,#ddd 100%);
	background: -o-linear-gradient(top, #eee 0%,#ddd 100%);
	background: -ms-linear-gradient(top, #eee 0%,#ddd 100%);
	background: linear-gradient(top, #eee 0%,#ddd 100%);
}